body {
  text-align: center;
  background-color: black;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.game {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  background: url(img/background.png) center/cover;
  border-radius: 30px;
  margin: auto;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 10px;
  background: wheat;
  transition: transform 300ms ease-in;
}
.game__button:hover {
  transform: scale(1.1);
}
.game__timer {
  background: white;
  font-size: 30px;
  width: 100px;
  border-radius: 10px;
  visibility: hidden;
}
.game__score {
  font-size: 40px;
  color: white;
  background: darkorange;
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  visibility: hidden;
}
.game__button,
.game__timer,
.game__score {
  margin-top: 10px;
  border: black 2px solid;
}
.game__field {
  width: 100%;
  height: 100%;
  margin-top: 75px;
  position: relative;
}
.pop-up {
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  width: 400px;
  height: 140px;
  border-radius: 20px;
  padding: 20px;
  transform: translateY(-150%);
  margin: auto;
}
.pop-up--hide {
  display: none;
}
.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: black;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 10px;
}
.pop-up__message {
  display: block;
  margin-top: 8px;
  font-size: 38px;
}
